.jumbotron {
  text-align: center;
  background-color: #00000000; 
  padding-bottom: 25px;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 0px;
}

body {
  background-color: rgba(3,0,20,1);
  color: white;
  padding-left: 10px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(3,0,20,1)),
  url(../img/space.jpg);
  background-repeat: no-repeat;
  background-position: top center; 
  font-family: 'Roboto Mono', monospace;
}

img {
  width: 600px;;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* input {
  margin: .4rem;
} */

.dune, .jurassic, .tron {
  display: none;
}

.btn {
  background-color: purple;
}

.radiopadding {
  padding-left:35px;
}