body {
  background-color: #011535;
  color: white;
  padding-left: 10px;
}

img {
  width: 600px;;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dune, .jurassic, .tron {
  display: none;
}

.jumbotron {
  text-align: center;
  background-color: #011535;
  color: white;
}

